<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改成功显示学生信息页面</title>
</head>
<body>
    用户姓名: <span th:text="${student.name}"></span><br/>
    用户性别:
    <span th:if="${student.sex==0}">女</span>
    <span th:if="${student.sex==1}">男</span>

    用户年龄：<span th:text="${student.age}"></span><br/>
    出生日期：<span th:text="${student.birthday}"></span><br/>
    邮箱：<span th:text="${student.email}"></span><br/>

<hr style="height: 10px"></br>

<a th:href="@{https://www.baidu.com}">直接发送请求，不携带任何参数</a>
</body>
<!--
    Thymeleaf语法：
    1、变量表达式：${}
        带value属性的标签：th:value=“${}”
        不带value属性的标签：th:text="${}"
    2、链接表达式：@{}
        1、th:action="@{}"
        2、th:href="@{}"
        3、th:src="@{}"
        注意：提交请求的内容
            1、直接提交地址
            2、提交的地址带有参数
-->

</html>